<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Spring Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"  type="text/css"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

    <link href="../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen" type="text/css"/>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Spring Blog</a>
                <img class="img-navbar" src="https://yt3.ggpht.com/-zF4TRgEyKkg/AAAAAAAAAAI/AAAAAAAAAAA/IBt_QgQUASE/s900-c-k-no/photo.jpg" alt=""/>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/newPost}">Dodaj nowy post</a>
                    </li>
                    <li>
                        <a th:href="@{/logout}">Wyloguj</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container well">

        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">
                    <img class="logo" th:src="@{images/photo.jpg.png}" src="https://yt3.ggpht.com/-zF4TRgEyKkg/AAAAAAAAAAI/AAAAAAAAAAA/IBt_QgQUASE/s900-c-k-no/photo.jpg" alt=""/>
                    Spring Blog
                    <small>Blog o Spring Framework</small>
                </h1>

                <!-- Blog Post -->
                <div th:each="post : ${postList}" class="well">
                    <h2>
                        <a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}">Blog Post Title</a>
                    </h2>
                    <p class="lead">
                        by <a href="index.php" th:text="${post.author.username}">Start Bootstrap</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span>Dodano: <span
                            th:text="${#dates.format(post.whenPostCreated)}"></span> </p>
                    <hr/>
                    <img class="img-responsive" th:src="@{'/image/' + ${post.id}}"  alt=""/>
                    <hr/>
                    <p th:utext="${#strings.abbreviate(post.post,50)}"></p>
                    <a class="btn btn-primary" th:href="@{'/post/' + ${post.id}}" >Czytaj... <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
               <!-- &lt;!&ndash; Pager &ndash;&gt;
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Starsze</a>
                    </li>
                    <li class="next">
                        <a href="#">Nowsze &rarr;</a>
                    </li>
                </ul>-->

            </div>

        </div>
        <!-- /.row -->

        <hr/>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Spring Blog 2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
